snippet mc "multicolumn"
\multicolumn{${1:1}}{${2:c}}{${0:${VISUAL}}}
endsnippet

snippet cm "cmidrule"
\cmidrule(${1:lr}){$2-$3}
endsnippet

snippet mr "midrule" b
\midrule
endsnippet

snippet als "addlinespace" b
\addlinespace
endsnippet

snippet al "Aligned equations" b
\begin{align}
	$0
\end{align}
endsnippet

snippet alnn "Aligned equations without number" b
\begin{align*}
	$0
\end{align*}
endsnippet
